<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <bean class="be.dnsbelgium.rdap.service.FileSystemDomainService">
    <constructor-arg value="src/test/resources/rdap"/>
  </bean>

  <bean class="be.dnsbelgium.rdap.service.IPServiceSupport"/>

  <security:authentication-manager id="authenticationManager">
    <security:authentication-provider>
      <security:password-encoder hash="sha"/>
      <security:user-service>
        <!-- username == password -->
        <security:user name="pieterv@dns.be"
                       password="a87304a227749cbfb14cb4ea7754da189ea6da7a"
                       authorities="ROLE_RDAP, ROLE_ADMIN"/>
        <security:user name="admin@cert.be"
                       password="4f72b701f48673317db30b954d58a345726e9179"
                       authorities="ROLE_RDAP"/>
        <security:user name="test"
                       password="a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"
                       authorities="ROLE_RDAP"/>
      </security:user-service>
    </security:authentication-provider>
  </security:authentication-manager>

  <security:global-method-security pre-post-annotations="enabled"
                                   authentication-manager-ref="authenticationManager"
                                   access-decision-manager-ref="accessDecisionManager">
    <security:protect-pointcut
        expression="execution(* be.dnsbelgium.rdap.service.*.*(..))"
        access="LEAKY_BUCKET_#1"/>
  </security:global-method-security>

  <bean id="accessDeniedHandler"
        class="be.dnsbelgium.rdap.spring.security.RDAPErrorHandler"/>

  <bean id="basicAuthenticationFilter"
        class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
    <property name="authenticationManager" ref="authenticationManager"/>
    <property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
  </bean>

  <bean id="authenticationEntryPoint"
        class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
    <property name="realmName" value="Name Of Your Realm"/>
  </bean>

  <security:http authentication-manager-ref="authenticationManager"
                 access-decision-manager-ref="accessDecisionManager">
    <security:intercept-url pattern="/**" access="ROLE_RDAP"/>
    <security:access-denied-handler ref="accessDeniedHandler"/>
    <security:http-basic/>
  </security:http>

  <bean id="accessDecisionManager"
        class="org.springframework.security.access.vote.UnanimousBased">
    <constructor-arg>
      <list>
        <bean class="be.dnsbelgium.rate.spring.security.LeakyBucketVoter">
          <constructor-arg>
            <bean class="be.dnsbelgium.rate.LeakyBucketServiceImpl">
              <constructor-arg value="1"/>
              <constructor-arg value="MINUTES" type="java.util.concurrent.TimeUnit"/>
              <constructor-arg value="10"/>
              <constructor-arg value="SECONDS" type="java.util.concurrent.TimeUnit"/>
              <constructor-arg>
                <bean class="be.dnsbelgium.rate.StaticLeakyBucketDao">
                  <constructor-arg value="10"/>
                  <constructor-arg value="1"/>
                </bean>
              </constructor-arg>
            </bean>
          </constructor-arg>
          <constructor-arg><bean class="be.dnsbelgium.rate.spring.security.UsernameLeakyBucketKeyFactory"/></constructor-arg>
          <constructor-arg value="1"/>
        </bean>
        <bean class="org.springframework.security.access.vote.RoleVoter"/>
      </list>
    </constructor-arg>
  </bean>

</beans>